<header>
    <h1> DelaBella Projetc </h1>
    <nav class="top-nav">
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Produtos', new_product_path %></li>
            <li><a href="#">Aplicativo</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <main>
        <section class="table-area clearfix">
            <div class="table-col-1-2">
            
            </div>
            
            <div class="table-col-2-2">
                <%= link_to 'Abrir comanda', new_order_path %>
            </div>
        </section>
    </main>
</header>