<h1 class="h1-new">Contato</h1>
<form class="form-content minium">
    
    <div class="field">
        <label>Nome: </label>
        <input type="text">
    </div>

    <div class="field">
        <label>Email: </label>
        <input type="email">
    </div>

    <div class="field">
        <label>Telefone: </label>
        <input type="email">
    </div>
    
    <div class="field">
        <label>Mensagem: </label>
        <textarea rows="7" cols="30"> </textarea>
    </div>
    
        <%= link_to 'Enviar', '#', class: 'btn'%>
        <%= link_to 'Voltar', root_path, class: 'btn'%>
</form>