<h1 class="h1-new">Contato</h1>
<form class="form-content">
    <label>Nome: </label>
    <input type="text">
    <label>Email: </label>
    <input type="email">
    <label>Telefone: </label>
    <input type="email">
    <label>Mensagem: </label>
    <br>
    <textarea rows="7" cols="30"> </textarea>
    <textarea rows="7" cols="30"> </textarea>
    <br>
    <br>
        <%= link_to 'Enviar', '#', class: 'btn'%>
        <%= link_to 'Voltar', root_path, class: 'btn'%>
</form>